<div class="dashboard-wrapper"  style="margin-top:100px;">
  <aside class="side-bar-area">
    <div class="friends-list">
      <p class="friends-list-header">FRIENDS</p>
      <% @user.friends.each do |user| %>
        <a href="#" class="friend-name"><%= user.name %></a>
      <% end %>
    </div>
  </aside>
  <div class="main-area">
    <div class="top-bar">
      <h1 class="top-bar-title"><%= link_to "Dashboard", root_path , style: "text-decoration: none; color: black;"%></h1>
      <div class="top-bar-actions">
        <button class="btn btn-primary" type="button">Add an expense</button>
        <button class="btn btn-secondary" type="button">Settle up</button>
      </div>
    </div>
    <div class="expenses-list">
      <% @expenses_share.each do |share| %>
        <div class="expense-item"> 
          <div class="item-lhs">
            <% date = Expense.find(share.first.expense_id).date %>
            <p><%= date.strftime("%d %B") %></p>
            <p><%= share.first.item_name %></p>
          </div>
          <div class="item-rhs">
            <div class="you-details">
              <p>you paid</p>
              <p>$ <%= share.last%></p>
            </div>
            <div class="you-details">
              <p>you lent <%= @user.name%></p>
              <p>$ <%= share.first.amount %></p>
            </div>
          </div>
          <button class="remove-btn">❌</button>
        </div>
      <% end %>

    </div>
  </div>
</div>
